<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">

            <a class="navbar-brand fw-bold"
               asp-controller="Home"
               asp-action="Index">
                Internship1
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Menüyü aç veya kapat">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">

                <ul class="navbar-nav ms-auto align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="Index">
                            Ana Sayfa
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="About">
                            Hakkımızda
                        </a>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Hizmetler
                        </a>

                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Services"
                                   asp-action="Index">
                                    Tüm Hizmetler
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Services"
                                   asp-action="SocialMediaManagement">
                                    Sosyal Medya Yönetimi
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Services"
                                   asp-action="SocialMediaAdvertising">
                                    Sosyal Medya Reklamı
                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Blog"
                           asp-action="Index">
                            Blog
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Contact"
                           asp-action="Index">
                            İletişim
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
</header>